# Use this file as a reference if you want to use in your program the Fast
# Methods library already installed in your computer

cmake_minimum_required (VERSION 2.6) 
project(test)

set(CMAKE_CXX_FLAGS "-std=c++11")

find_package(fast_methods)

# Not necessary if installed in default locations.
include_directories(${fast_methods_INCLUDE_DIRS})

add_executable(fm test_fm.cpp)

target_link_libraries(fm
    ${fast_methods_LIBRARIES}
)

